h1{
    display: flex;
    justify-content: center;
}

article{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

section.edge-rail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 15%;
}

section.Pre-Game{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    width: 70%;
}

.Pre-Game article{
    height: 40vh;
}

article div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 10vw;
}

time{
    display: block;
    width: 100%;
}

ul li{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-width: 20vw;
    flex-wrap: nowrap;
    background-color: purple;
    color: seashell;
    text-emphasis: 1.2;
    border-radius: 8%;
    margin: 5%;
}

ul li:hover{
    opacity: 50%;
}


section.game-over{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    width: 70%;
}